<!DOCTYPE html>
<html>
  <head>
    <title>edit</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel='stylesheet' href='/stylesheets/style_edit.css' />
    <script type="module" src="/javascripts/edit.js"></script>
    <script type="module" src = "/javascripts/header.js"></script>

  </head>
  <body>
     <header>

    <a>
        <img class = Logo id = "returnmain" src="/stylesheets/Logo.png" alt="Logo">
    </a>
      <!-- <span class = "Logo"></span> -->
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a   class = heada href='/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div  id = signup class = header_word>
          <a   class = heada href='/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>
      
    </header>
    <div class = "space"></div>



    <form>
    <h1>情報入力</h1>
    <dl>
        <dt>名前</dt>
        <dd><input name="name" class = "search_box" type="text"></dd>
        <dt>学部</dt>
        <dd><input name="department" class = "search_box" type="text"></dd></br>
        <dt class="m_tag">興味のあるタグ</dt>
        <dd>
          <ul class="m_tag">
            <%tags.forEach(tag => {%>
              <input type="checkbox" name="mycheckbox" value="<%= tag %>"><%= tag %></li>
            <%})%>
        </ul>
        <button id="submitButton">変更</button>
    </dl>
  </form>
  </body>
</html>
