<!DOCTYPE html>
<html>
  <head>
    <title>edit</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel='stylesheet' href='/stylesheets/style_edit.css' />
  </head>
  <body>
    <header>
      <span class = "Logo"></span>
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='http://localhost:3000/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a  class = heada href='http://localhost:3000/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div class = header_word>
          <a  class = heada href='http://localhost:3000/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>      
    </header>
    <div class = "space"></div>



    <h1>情報入力</h1>
    <dl>
        <dt>名前</dt>
        <dd><input id="email" class = "search_box" type="text"></dd>
        <dt>学部</dt>
        <dd><input id="password" class = "search_box" type="text"></dd></br>
        <dt class="m_tag">興味のあるタグ</dt>
        <dd>
          <select class="tag">
            <option value="1">公認</option>
            <option value="2">非公認</option>
            <option value="3">球技</option>
            <option value="4">武道</option>
            <option value="5">陸上</option>
            <option value="6">水泳</option>
          </select>
          <select class="tag">
            <option value="1">公認</option>
            <option value="2">非公認</option>
            <option value="3">球技</option>
            <option value="4">武道</option>
            <option value="5">陸上</option>
            <option value="6">水泳</option>
          </select>
          <select class="tag">
            <option value="1">公認</option>
            <option value="2">非公認</option>
            <option value="3">球技</option>
            <option value="4">武道</option>
            <option value="5">陸上</option>
            <option value="6">水泳</option>
          </select>
          <select class="tag">
            <option value="1">公認</option>
            <option value="2">非公認</option>
            <option value="3">球技</option>
            <option value="4">武道</option>
            <option value="5">陸上</option>
            <option value="6">水泳</option>
          </select>
          <select class="tag">
            <option value="1">公認</option>
            <option value="2">非公認</option>
            <option value="3">球技</option>
            <option value="4">武道</option>
            <option value="5">陸上</option>
            <option value="6">水泳</option>
          </select>
          <select class="tag">
            <option value="1">公認</option>
            <option value="2">非公認</option>
            <option value="3">球技</option>
            <option value="4">武道</option>
            <option value="5">陸上</option>
            <option value="6">水泳</option>
          </select>
        </dd></br>

        <a href="mypage">変更</a>
    </dl>
  </body>
</html>
