<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/ress.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>ようこそ <%= title %></p> -->
    <header>
      <span class = "Logo"></span>
      <div class = "header_container">
        <div class = header_word>
          <!-- <a href='url'> -->
            <p>サークル一覧</p>
          <!-- </a> -->
        </div>
        <div class = header_word>
          <!-- <a href='url'> -->
            <p>検索</p>
          <!-- </a> -->
          <input class = "search_box">
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          </input>
        </div>
        <div class = header_word>
          <!-- <a href='url'> -->
            <p>ログイン/新規登録</p>
          <!-- </a> -->
        </div>
      </div>
    </header>
    <div class = "space"></div>
    <!-- <div class = "cle"></div> -->


  </body>
</html>
