<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="module" src = "/javascripts/header.js"></script>
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>ようこそ <%= title %></p> -->
    <header>
      <span class = "Logo"></span>
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='http://localhost:3000/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a  class = heada href='http://localhost:3000/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div class = header_word>
          <a  class = heada href='http://localhost:3000/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>
      
    </header>

    <div class = "space"></div>

    <div class="box22">
      <h1>おすすめサークル一覧</h1>
    </div>

    <table>
      <div class="container_circle">
        <div class = "information">
          <tr>
            <td>
              <a class ="circle" href='http://localhost:3000/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <!-- <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
            </td>

            <td>
              <a class ="circle" href='http://localhost:3000/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <!-- <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
            </td>

            <td>
              <a class ="circle" href='http://localhost:3000/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <!-- <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
            </td>
            
          </tr>

          <tr>
            <td>
              <a class ="circle" href='http://localhost:3000/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <!-- <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
            </td>

            <td>
              <a class ="circle" href='http://localhost:3000/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <!-- <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
            </td>

            <td>
              <a class ="circle" href='http://localhost:3000/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <!-- <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
            </td>
            
          </tr>
          
        </div>
      </div>
    </table>



    <div class="box22">
      <h1>おすすめイベント一覧</h1>
    </div>

    <table>
      <tr>
        <th>日程</th>
        <th>サークル名</th>
        <th>イベント</th>
        <th>イベント内容</th>
        <th>　</th>
      </tr>
      <tr class= "list">
        <td>10/5</td>
        <td>テニスサークル</td>
        <td>BBQ</td>
        <td>〇〇公園でBBQを行います．興味のある方は参加して見てください！</td>
        <td class= "tag"><a class= "check" href="http://localhost:3000/detail">サークルページを見る</a></td>
      </tr>
    </table>

    <br>
    <br>


    
    

    


  </body>
</html>
