<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/style_signin.css">
    <script type="module" src = "/javascripts/header.js"></script>
    
    <title>signin</title>
</head>
<body>
  <header>

    <a>
        <img class = Logo id = "returnmain" src="/stylesheets/Logo.png" alt="Logo">
    </a>
      <!-- <span class = "Logo"></span> -->
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a   class = heada href='/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div  id = signup class = header_word>
          <a   class = heada href='/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>
      
    </header>
  <div class = "space"></div>


<div id="log">
    <h1>ログイン</h1>
    <dl>
        <dt>Email</dt>
        <dd><input id="email" class = "search_box" type="text"></dd>
        <dt>パスワード</dt>
        <dd><input id="password" class = "search_box" type="password"></dd></br>
        <input id="submit" type="submit" value="ログイン">
    </dl>
</div>

<div id="sinki">
    <h1>はじめての方はこちら</h1>
    <a href="signup">新規登録</a>
    <br>or</br>
    <a href="/">ゲストログイン</a>

</div>
<script type="module" src="/javascripts/signin.js"></script>
</body>
</html>