<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Title</title>
</head>
<body>
    <header>
        <span class = "Logo"></span>
        <div class = "header_container">
          <div class = header_word>
            <!-- <a href='url'> -->
              <p>サークル一覧</p>
            <!-- </a> -->
          </div>
          <div class = header_word>
            <!-- <a href='url'> -->
              <p>検索</p>
            <!-- </a> -->
            <input class = "search_box">
             <!-- <div class = "search_icon"> -->
               <!-- <img src = "/public/stylesheets/search_icon.png"> -->
             <!-- </div>  -->
            </input>
          </div>
          <div class = header_word>
            <!-- <a href='url'> -->
              <p>ログイン/新規登録</p>
            <!-- </a> -->
          </div>
        </div>
      </header>
      <div class = "space"></div>



<div id="log">
    <h1>新規登録</h1>
    <dl>
        <dt>Email</dt>
        <dd><input id=s_email" type="text"></dd>
        <dt>パスワード</dt>
        <dd><input id="s_password" type="text"></dd></br>
        <input id="s_submit" type="submit" value="ログイン">
    </dl>
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>

</body>
</html>