<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/students_page.css' />
    <script type="module" src = "/javascripts/header.js"></script>
  </head>
  <body>
  <header>
      <span class = "Logo"></span>
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='http://localhost:3000/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a  class = heada href='http://localhost:3000/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div class = header_word>
          <a  class = heada href='http://localhost:3000/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>
    </header>
    <div class = "space"></div>

    <div class="box22">
      <h1>いいねした人一覧</h1>
    </div>
    <a class = "return" href='http://localhost:3000/detail'>サークル詳細に戻る</a>
    <table>
      <% students.forEach((student) => { %>
      <tr>
        <th>名前</th>
        <th>学部</th>
        <th>Check</th>
      </tr>
      <tr class= "list">
        <td class="icon A"><%= student.name %></td>
        <td><%= student.department %></td>
        <td class= "tag"><a class = "check" href="">友達になる</a></td>
      </tr>
    </table>
  </body>
</html>
