/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}


 body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background:#ffffff;
  }
  
  /* スクロール */
  .scroll {
  
    width: 100%;
  
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  
  }
  
  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B5B5B5;
    padding:0 5vw;
    height: 110px;
    width: 100%;
    position: fixed;
  }
  .header_container{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: 100%;
    align-items: center;
  }
  .header_word{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
  .header_word:hover{
    border-bottom:solid 2px red;
  }
  .search_box{
    width: 150px;
    height: 27.2px;
    margin-left: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    border: solid 1px black;
    position: relative;
  }
  .search_icon{
    background-image: url(search_icon.png);
    background-size: contain;
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    margin-right: 2px;
  }
  .Logo{
    background-image: url(img/Logo.png);
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  /* .cle{
    background-image: url(aa.jpg);
    background-size: contain;
    width: 100%;
    height: 100vh;
  } */
  .space{
    width: 100%;
    height: 110px;
  }
  




  /* students_page */
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  
  table th,table td{
    text-align: center;
    font-size: 20px;
    width: 25%;
    padding: 15px 0;
  }
  
  table td.icon{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
  
  /* アイコン表示 */
  table td.icon.A{
    background-image: url(luffy.png);
    border-radius: 50%;  
  }
  
  /* tr.list:hover{
    background-color:#a48c61;
  } */
  
  
  .check {
    display: block;
    padding: 20px 0;
    width:70%; 
    height:100%;
    margin: 0 auto;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(
      to right,
      #000000 0%,
      #000000 50%,
      #47566a 50%,
      #3d4959 100%
    );
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .check:hover {
    background-position: 0 0;
  }
  
  .box22{
    display: flex;
    padding: 10px 10px;
    margin: 1em 0;
    text-align: center;
    background: #f4f4f4;
    border-left: solid 6px #3d4959;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    color:#3d4959
}

  
.return {
    display: block;
    padding: 20px 0;
    margin: 0 0 0 auto;
    width: 30%; 
    height:100%;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(
      to right,
      #000000 0%,
      #000000 50%,
      #47566a 50%,
      #3d4959 100%
    );
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .return:hover {
    background-position: 0 0;
  }
