body{
    color:gray;
    }

  .club_name{
      text-align: center;
  }

  .club_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.iine{
    text-align: center;
}

.heart{
    font-size: 30pt;
}


ul{
    text-align: center;
}

li{
    display: inline;
    border: solid 1px gray;/*線*/
    border-radius: 10px;/*角の丸み*/
  }

  .d_child{
    text-align: center;
    margin-top: 25pt;
  }

