body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
 }

 .box22{
  display: flex;
  padding: 10px 10px;
  margin: 1em 0;
  text-align: center;
  background: #f4f4f4;
  border-left: solid 6px #613b3d;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  color:#613b3d
}
 /* h1 {
   font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
   width: 100%;
   height: 50px;
   background-color: rgb(184, 184, 184);
 } */
  .club_name{
      text-align: center;
  }

  .club_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.iine{
    text-align: center;
}

.heart{
    font-size: 30pt;
}


ul{
    text-align: center;
}

li{
    display: inline;
    border: solid 1px gray;/*線*/
    border-radius: 10px;/*角の丸み*/
  }

  
.center{
  display: flex;
  justify-content: center;
}



.content{
  width:80%;
  margin:auto;
  overflow-wrap: break-word;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  margin-left: 2.5%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}


table th{
  border: solid 1px #eee;
  text-align: center;
  font-size: 20px;
  width: 25%; 
 padding: 15px 0;
} 

 table td{
  border: solid 1px #eee;
  text-align: center;
  font-size: 20px;
  width: 25%; 
  padding: 15px 0;
} 

.check {
  display: block;
  padding: 20px 0;
  width:75%; 
  height:100%;
  margin: 0 auto;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #000000 50%,
    #854d50 50%,
    #613b3d 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.check:hover {
  background-position: 0 0;
}
.center{
  display: flex;
  justify-content: center;
}



.content{
  width:80%;
  margin:auto;
  overflow-wrap: break-word;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  margin-left: 2.5%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}


table th{
  border: solid 1px #eee;
  text-align: center;
  font-size: 20px;
  width: 25%; 
 padding: 15px 0;
} 

 table td{
  border: solid 1px #eee;
  text-align: center;
  font-size: 20px;
  width: 25%; 
  padding: 15px 0;
} 

.check {
  display: block;
  padding: 20px 0;
  width:75%; 
  height:100%;
  margin: 0 auto;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #000000 50%,
    #854d50 50%,
    #613b3d 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.check:hover {
  background-position: 0 0;
}
