

 table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}


table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table td.icon.bird{
  background-image: url(img/luffy.png)
}

table td.icon.whale{
  background-image: url(img/zoro.png)
}

table td.icon.crab{
  background-image: url(img/arlong.png)
}

/* tr.list:hover{
  background-color:#a48c61;
} */

.abox {
  display: block;
  padding: 20px 0;
  width:70%; 
  height:100%;
  margin: 0 auto;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #000000 50%,
    #a48c61 50%,
    #a48c61 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  transition: background-position ease 0.4s;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.abox:hover {
  background-position: 0 0;
}


